<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Acerca de Nosotros</title>
  </head>
  <body>

    <div class='container'>
      <h4 id='about'>Acerca de Nosotros</h4>

      <div class='row'>
        <div class='col s12 m6'>
          <img class='responsive-img' src='/images/innovate_sync.png' alt='Equipo' />
        </div>
        <div class='col s12 m6'>
          <p class='flow-text'>
            Bienvenido a nuestra biblioteca. Somos un apasionado equipo de
            amantes de los libros dedicados a ofrecer una amplia variedad de
            lecturas para todos los gustos. Nuestra misión es fomentar el amor
            por la lectura y proporcionar un espacio acogedor para explorar
            mundos a través de las páginas de los libros.
          </p>
        </div>
      </div>

      <h5>Nuestro Equipo</h5>
      <ul class='collection'>
        <li class='collection-item'>Uriel Torres García</li>
        <li class='collection-item'>Jonatan Arturo Morales Tavera</li>
      </ul>
    </div>

  </body>
</html>