<div class="container">
    <div class="row">
      <div class="col s12">
        <center>
            <img class="responsive-img" src="/images/user_not_found.svg" alt="Bienvenida" width="600" height="600">
        <p class="flow-text" style="text-align: center;">
          Lo sentimos, no se ha encontrado ningún estudiante con la información proporcionada. Por favor, verifica los detalles ingresados e intenta nuevamente. Si el problema persiste, comunícate con el soporte técnico para obtener ayuda.
        </p>
        </center>
      </div>
    </div>